<div>
	<h2><%=@find_post.name %></h2>
	<p><%=@find_post.author%></p>
	<p><%=@find_post.description %></p>
</div>
<ul>
	<li>
			<% @comments.each do |comment|%>
		<div>
			<a href="comments/<%= comment.id %>"><h4><%= comment.name %></h4>
			<span>By: <%= comment.author%></span>
			</a>
		</div>
	<% end%>
	</li>
</ul>
