<div class="row">
	<div class="col-xs-offset-4 text-center col-xs-4 text-center">
		<%= form_for [@post] do |f| %>
			<%=f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
			<%=f.label :author %>
			<%=f.text_field :author, class: "form-control" %>
			<%=f.label :description %>
			<%=f.text_area :description, class: "form-control"%>
			<%=fields_for :tag, @post.tags do |tag_fields| %>
				<%=tag_fields.text_field :name, class:"form-control"%>
				<% end %>
			<%=button_to "Update Changes", post_path(@post), method: :put, class: "btn btn-success" %>
		<% end %>
	</div>
</div>

