<div class="container text-center">
	<div>
			<h2>Welcome to the Blog</h2>
			<a href="/posts/new">Click here to Create a new post</a><br>
	</div>


<% @posts.each do |post| %>
	<div>
		<h4><%= post.name %></h4>
		<p>By: <%= post.author %></p>
		<p><%= post.description %></p>
		<% post.tags.each do |tag| %>
		<span>#<%= tag.name %></span>
			<!-- <a href="tags/<%= tag.id%>"><span>#<%= tag.name %></span></a> -->
		<% end %>
	</div>
	<div class="btn-group">
		<form action="/show/<%=post.id%>" method="get">
			<input class="btn-primary btn-block" type="submit" value="Update">
		</form>

		<form action="/destroy" method="post">
			<input type="hidden" name="id" value="<%=post.id%>">
			<input class="btn-danger btn-block" type="submit" value="Delete">
			<%= token_tag form_authenticity_token %>
		</form>
	</div>
	<% end %>
</div>