<div class="row">
	<div class="text-center col-xs-offset-4 col-xs-4 textcenter">
		<h4><%= @post.name %></h4>
		<p>By:<%= @post.author%></p>
		<p>Description:</p>
		<p><%= @post.description %></p>		
		<h4>Tags:</h4>
		<% @post.tags.each do |tag| %>
		<span>#<%= tag.name %></span>
		<h4>Comments:</h4>
		<a href="<%=@post.id%>/comments">Click Here to see comments page</a>
		<% @post.comments.each do |comment| %>
			<h5><strong><%= comment.name %></strong></h5>
			<span>By: <%= comment.author %></span>
		<% end %>

		<p><a href="<%=@post.id%>/edit">Click here to Edit the Blog</a></p>
		
		<%= button_to "Delete Post", post_path(@post), method: :delete, class: "btn-danger" %>
		<% end %>
	</div>	
</div>