<div class="container btn-group text-center">
	<h2>Blog Update</h2>
	<form action="/update" method="post">
		<input type="text" name="post[name]" placeholder="<%= @post.name %>"><br>
		<input type="text" name="post[author]" placeholder="<%= @post.author %>"><br>
		<textarea cols="30" rows="10" type="text" placeholder="<%= @post.description %>" name="post[description]"></textarea><br>
		<input type="text" placeholder="tag" name="tag[name]"><br>
		<input type="hidden" name="id" value="<%=@post.id%>">
		<input class="btn-success" type="submit" value="Submit Changes">

		<%= token_tag form_authenticity_token %>
	</form>
</div>